{% extends 'org_base.html' %}
{% load staticfiles %}
{% block  title %} 机构介绍 {% endblock %}

    {% block course_bread %}
        <section>
            <div class="wp">
                <ul class="crumbs">
                    <li><a href="{% url 'index' %}">首页</a>></li>
                    <li><a href="{% url 'org:org_list' %}">课程机构</a>></li>
                    <li>{% block page_path %}机构介绍{% endblock %}</li>
                </ul>
            </div>
        </section>
    {% endblock %}

{% block right_form %}


    <div class="right companycenter layout">
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">

            <p>
            <p>&nbsp; &nbsp;</p>
            <h1 class="ue_t" label="Title center" name="tc" style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;">
                <span style="color:#c0504d;">[键入文档标题]</span></h1>
            <p style="text-align:center;"><strong class="ue_t">[键入文档副标题]</strong></p>
            <h3><span class="ue_t" style="font-family:幼圆">[标题 1]</span></h3>
            <p class="ue_t" style="text-indent:2em;">{{ course_org.desc }}</p>
            <p class="ue_t" style="text-indent:2em;">
                <img src="../media/courses/ueditor/57aa86a0000145c512000460_20161210234050_865.jpg" title="" alt="57aa86a0000145c512000460.jpg"/>
            </p>
            <h3><span class="ue_t" style="font-family:幼圆">[标题 2]</span></h3>
            <p>
                <img src="http://api.map.baidu.com/staticimage?center=116.410899,39.863624&zoom=11&width=530&height=340&markers=116.404,39.915" width="530" height="340"/>
            </p>
            <p class="ue_t" style="text-indent:2em;">{{ course_org.desc }}</p>
            <p class="ue_t"><br/></p>
            <p><br/></p>
            <p><br/></p></p>

        </div>
    </div>

{% endblock %}

